html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", "Verdana", sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: 500;
    font-size: 5rem;
    line-height: 6rem;
    color: #FFFFFF;
    max-width: 61.9rem;
    padding-bottom: 22px;
}

h2 {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.2rem;
}

h3 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-large {
    max-width: 1262px;
    margin: 0 auto;
}

.title-underline {
    position: relative;
    padding-bottom: 10px;
}

.title-underline::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button {
    text-transform: uppercase;
    background: #1B7DFF;
    color: #FFFFFF;
    border: 0;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #3269b4;
}

.arrow-link {
    display: inline-block;
    padding-right: 59px;
    text-decoration: none;
    color: #006DFE;
    text-transform: uppercase;
    background: url('../assets/svg/arrow.svg') no-repeat 95% center;
    transition: .4s all;
}

.arrow-link:hover,
.arrow-link:focus {
    background: url('../assets/svg/arrow.svg') no-repeat right center;
}


/* header styles start */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 56px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

.navigation__item {
    padding-right: 82px;
}

.navigation__item:last-child {
    padding-right: 0px;
}

.navigation__link {
    font-size: 1.8rem;
    color: #FFFFFF;
    text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
    opacity: .75;
}

/* header styles end */

/* intro styles start */

.intro {
    min-height: 100vh;
    background: url("../assets/img/intro.jpg") no-repeat center;
    background-size: cover;
    padding-top: 252px;
    padding-bottom: 223px;
}

.intro-text {
    color: #FFFFFF;
    max-width: 54.6rem;
    padding-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 29.7rem;
    background: transparent url('../assets/svg/ring.svg') no-repeat left 8px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
}

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
}

.search-form__button {
    padding: 15px 39px;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
}

/* intro styles end */

/* benefits styles start */

.benefits {
    padding-bottom: 131px;
}

.benefits__wrapper {
    max-width: 1262px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    padding: 93px 893px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: #FFFFFF;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
    padding-bottom: 112px;
}

.benefits__card {
    grid-column: span 1;
}

.benefits__card-icon {
    margin-bottom: 37px;
    display: block;
}

.benefits__card-title {
    padding-bottom: 26px;
}

.benefits__card-text {
    max-width: 30rem;
    padding-bottom: 39px;
}

/* benefits styles end */

/* places styles start */

.places {
    padding-bottom: 131px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.places__arrow {
    background: url('../assets/svg/arrow.svg') no-repeat right center;
}

.places__arrow:hover,
.places__arrow:focus {
    opacity: .60;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card-large {
    grid-column: span 3;
}

.places__card-small {
    grid-column: span 2;
}

.places__card-pic_large {
    height: 35.4rem;
}

.places__card-pic_small {
    height: 28.3rem;
}

.places__card-pic {
    width: 100%;
    object-fit: cover;
    transition: .15s all;
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic {
    transform: scale(1.05);
}

.places__card-title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* places styles end */

/* tours styles start */

.tours {
    padding-bottom: 139px;
}

.tours__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    padding-bottom: 77px;
}

.tour__info {
   padding-left: 47px;
}

.tour__title {
    font-weight: 500;
    font-size: 3.0rem;
    line-height: 4.0rem;
    padding-bottom: 85px;
}

.tour__text {
    padding-bottom: 58px;
}

/* tours styles end */