html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", "Verdana", sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #102746;
}

h1 {
    font-weight: 500;
    font-size: 5rem;
    line-height: 6rem;
    color: #FFFFFF;
    max-width: 61.9rem;
    padding-bottom: 22px;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.button {
    text-transform: uppercase;
    background: #1B7DFF;
    color:#FFFFFF;
    border: 0;
}

.button:hover, .button:focus, .button:active {
    background-color: #3269b4;
}

/* header styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 56px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

.navigation__item {
    padding-right: 82px;
}

.navigation__item:last-child {
    padding-right: 0px;
}

.navigation__link {
    font-size: 1.8rem;
    color: #FFFFFF;
    text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
    opacity: .75;
}

/* header styles end */

/* intro styles start */

.intro {
    min-height: 100vh;
    background: url("../assets/img/intro.jpg") no-repeat center;
    background-size: cover;
    padding-top: 252px;
}

.intro-text {
    color: #FFFFFF;
    max-width: 54.6rem;
    padding-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 29.7rem;
    background: transparent url('../assets/svg/ring.svg') no-repeat left 8px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
}

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
}

.search-form__button {
    padding: 15px 39px;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
}

/* intro styles end */